.GraphqlCodeBlock span.comment {
  color: #ccc;
}

.GraphqlCodeBlock span.number {
  color: rgb(93, 176, 215);
}

.GraphqlCodeBlock span.variable {
  color: rgb(53, 212, 199);
}

.GraphqlCodeBlock span.atom {
  color: rgb(242, 151, 102);
}

.GraphqlCodeBlock span.attribute {
  color: #c678dd;
}

.GraphqlCodeBlock span.punctuation {
  color: #cccccc;
}

.GraphqlCodeBlock span.keyword {
  color: rgb(231, 194, 112);
}

.GraphqlCodeBlock span.def {
  color: hsl(0, 100%, 75%);
}

.GraphqlCodeBlock span.property {
  color: rgb(155, 187, 220);
}
