* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #0a090c;
  --secondary-bg-hover: #19930928;
  --tertiary-bg-hover: #60b0ea;
  --text-color: #f0edee;
  --light-border: #90ddf0;
  --active-query-back: #266575;
  --dark-border: #08637a;
  --nav-buttons: #20909f;
  --nav-buttons-hover: #2c666e6d;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(5, 218, 251, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);
}

.getCache {
  width: 200px;
  height: 300px;
  align-self: flex-end;
  background-color: var(--nav-buttons);
  border: initial;
  color: var(--text-color);
}

.getCache:hover {
  background-color: var(--nav-buttons-hover);
  cursor: pointer;
}

.info-container,
.history-view,
.nav,
.containers-wrapper,
.key-display,
.history-view *,
.nav * {
  transition: 0.3s;
}

.heading {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.containers-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas: 'history-view info-container';
  width: 100vw;
}

.info-container {
  height: 80vh;
}

.key-display {
  width: 100%;
  text-align: center;
}

.key-display:hover {
  background-color: var(--tertiary-bg-hover);
  cursor: pointer;
}

.active-key {
  background-color: var(--tertiary-bg-hover);
}

.inner-info-wrapper {
  border-bottom: 1px solid var(--dark-border);
  height: 73vh;
}

.inner-info-wrapper h2 {
  padding-top: 10px;
  padding-left: 10px;
}

.history-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 80vh;
  width: 10rem;
  border: 1px solid var(--dark-border);
  border-radius: 10px 10px 0px 0px;
}

.history-view h1 {
  width: 100%;
  height: 5vh;
  text-align: center;
}

.query-cards {
  max-height: 70vh;
  overflow-y: auto;
}

.diff-info {
  height: 70vh;
  overflow-x: auto;
  overflow-y: auto;
}

.unchanged-green {
  color: var(--tertiary-bg-hover);
}

.unchanged-red {
  color: red;
}

/* THE FOLLOWING TWO CSS LINES CONTROL DIFF INFO FONT */
.jsondiffpatch-delta {
  font-size: 0.8em;
}

.jsondiffpatch-delta pre {
  font-size: 1em;
}

.react-json-view {
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier,
    monospace;
  padding-top: 10px;
  padding-left: 10px;
}

.query-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vh;

  /* border: 4px dotted var(--dark-border); */
  text-align: center;
}

.query-card:hover {
  background-color: var(--active-query-back);
  cursor: pointer;
}

.active-query {
  background-color: var(--active-query-back);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 7vh;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96%;
  width: 25%;

  text-align: center;
  background-color: var(--nav-buttons);
  border-top: 1px solid var(--light-border);
  border-left: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.nav-button-active {
  background-color: var(--main-bg);
}

.info-display h2 {
  padding-left: 10px;
}

.arrow {
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 23px 23px 23px 23px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0px;
  right: -43px;
}

.button-arrow {
  display: flex;
  align-items: flex-end;
}

.nav-button:hover {
  background-color: var(--nav-buttons-hover);
  cursor: pointer;
}

.state-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 73vh;
  padding-bottom: 10px;
  width: 20vw;
  overflow-y: auto;
  background-color: var(--active-query-back);
}

.keylist-wrapper {
  height: 90%;
  width: 100%;
}

.cache-display {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'state-sidebar cache-display';
  height: 73vh;
  padding-top: 0;
}

.react-json-view {
  max-height: 72.5vh;
  overflow-y: auto;
}

.GraphqlCodeBlock {
  max-height: 68vh;
  overflow-y: auto;
}

.time-buttons {
  display: flex;
  align-self: flex-end;
}

.forward-button,
.backward-button {
  height: 100px;
  width: 100px;
}

.GraphqlCodeBlock {
  padding: 10px 0 0 10px;
}

.backward-button {
  transform: rotateY(180deg);
}

.getCache {
  width: 75px;
  height: 25px;
}

.unchanged-toggle-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 15%;
}

/* toggle  */

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
    background: var(--tertiary-bg-hover);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 13px;
}

@media only screen and (max-width: 500px) {
  .containers-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'history-view'
      'info-container';

    width: 100vw;
  }
}
