* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #0a090c;
  --secondary-bg-hover: #a487de61;
  --secondary-bg: #2c2240;
  --text-color: #f0edee;
  --light-border: #90ddf0;
  --dark-border: #08637a;
  --nav-buttons: #20909f;
  --nav-buttons-hover: #2c666e6d;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(251, 5, 5, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);
}

.getCache {
  width: 200px;
  height: 300px;
  align-self: flex-end;
}

.info-container,
.history-view,
.nav,
.containers-wrapper,
.history-view *,
.nav * {
  transition: 0.3s;
}

.heading {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.containers-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas: 'history-view info-container';
  width: 100vw;
}

.info-container {
  height: 80vh;
}
.inner-info-wrapper {
  border-bottom: 1px solid var(--dark-border);
  height: 70vh;
}

/* .containers {
  display: flex;
  width: 100vw;
} */

.history-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 80vh;
  width: 10rem;
  border: 1px solid var(--dark-border);
}

.history-view h2 {
  padding: 10px;
}

.history-view h1 {
  width: 100%;
  height: 5vh;
  text-align: center;
}

.query-cards {
  max-height: 70vh;
  overflow-y: auto;
}

.diff-info {
  height: 70vh;
}

.query-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vh;

  /* border: 4px dotted var(--dark-border); */
  text-align: center;
}

.query-card:hover {
  background-color: var(--secondary-bg-hover);
}

.active-query {
  background-color: var(--secondary-bg-hover);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 10vh;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 25%;

  text-align: center;
  background-color: var(--nav-buttons);
  border-top: 1px solid var(--light-border);
  border-left: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.nav-button-active {
  background-color: var(--main-bg);
}

.arrow {
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 23px 23px 23px 23px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0px;
  right: -43px;
}

.button-arrow {
  display: flex;
  align-items: flex-end;
}

.nav-button:hover {
  background-color: var(--nav-buttons-hover);
}

.state-sidebar {
  max-height: 100vh;
  width: 20vw;
  overflow-y: auto;
  padding-left: 10px;
}

.cache-display {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'state-sidebar cache-display';
  height: 70vh;
  padding-top: 0;
}

.react-json-view {
  max-height: 69.5vh;
  overflow-y: auto;
}

.GraphqlCodeBlock {
  max-height: 65vh;
  overflow-y: auto;
}

.time-buttons {
  display: flex;
  align-self: flex-end;
}

.forward-button,
.backward-button {
  height: 100px;
  width: 100px;
}

.GraphqlCodeBlock {
  padding: 10px 0 0 10px;
}

.backward-button {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 500px) {
  .containers-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'history-view'
      'info-container';

    width: 100vw;
  }
}
